@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

*{
   font-family: "Manrope", sans-serif;
   font-weight: 500;
   cursor: none
}

@theme {
  --color-primary: #5044E5;
}

/* default: cursor custom MATI */
.custom-cursor {
  display: none;
}

/* hanya aktif jika device punya mouse (pointer: fine) */
@media (pointer: fine) {
  .custom-cursor {
    display: block;
  }
}

